<!doctype html>
<html lang="en">
  <meta charset="utf-8">
  <head>
    <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Flexbox Grid Responsive - VA.gov Design System </title>
  <meta name="description" content="            1              2              3              4              5              6      ">

  <link rel="stylesheet" href="/vets-design-system-documentation/formation.min.css">
  <link rel="stylesheet" href="/vets-design-system-documentation/assets/stylesheets/application.css">

  <link rel="canonical" href="https://www.vets.gov/vets-design-system-documentation/layout/html/flexbox-grid-responsive.html">
  <link rel="alternate" type="application/rss+xml" title="VA.gov Design System" href="https://www.vets.gov/vets-design-system-documentation/feed.xml">


  <script src="/vets-design-system-documentation/vendor/javascripts/uswds.min.js"></script>

</head>

  </head>
  <body class="iframe-example">
    <div class="vads-l-grid-container">
  <div class="vads-l-row">
    <div class="vads-l-col--12 medium-screen:vads-l-col--6 small-desktop-screen:vads-l-col--4 large-screen:vads-l-col--2 site-grid-example">
      1
    </div>
    <div class="vads-l-col--12 medium-screen:vads-l-col--6 small-desktop-screen:vads-l-col--4 large-screen:vads-l-col--2 site-grid-example">
      2
    </div>
    <div class="vads-l-col--12 medium-screen:vads-l-col--6 small-desktop-screen:vads-l-col--4 large-screen:vads-l-col--2 site-grid-example">
      3
    </div>
    <div class="vads-l-col--12 medium-screen:vads-l-col--6 small-desktop-screen:vads-l-col--4 large-screen:vads-l-col--2 site-grid-example">
      4
    </div>
    <div class="vads-l-col--12 medium-screen:vads-l-col--6 small-desktop-screen:vads-l-col--4 large-screen:vads-l-col--2 site-grid-example">
      5
    </div>
    <div class="vads-l-col--12 medium-screen:vads-l-col--6 small-desktop-screen:vads-l-col--4 large-screen:vads-l-col--2 site-grid-example">
      6
    </div>
  </div>
</div>
  </body>
</html>