<!DOCTYPE html>
<html lang="en">

  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Alert Boxes - VA.gov Design System </title>
  <meta name="description" content="Alert Boxes">

  <link rel="stylesheet" href="/vets-design-system-documentation/formation.min.css">
  <link rel="stylesheet" href="/vets-design-system-documentation/assets/stylesheets/application.css">

  <link rel="canonical" href="https://www.vets.gov/vets-design-system-documentation/components/alertboxes.html">
  <link rel="alternate" type="application/rss+xml" title="VA.gov Design System" href="https://www.vets.gov/vets-design-system-documentation/feed.xml">


  <script src="/vets-design-system-documentation/vendor/javascripts/uswds.min.js"></script>

</head>


  <body>

    <a class="usa-skipnav" href="#main-content">Skip to main content</a>


<section class="usa-banner">
  <div class="usa-accordion">
    <header class="usa-banner-header">
      <div class="" style="padding-left:24px;">
      <img src="/vets-design-system-documentation/img/favicons/favicon-57.png" alt="U.S. flag">
      <p>An official website of the United States government</p>
      <button class="usa-accordion-button usa-banner-button"
        aria-expanded="false" aria-controls="gov-banner">
        <span class="usa-banner-button-text">Here's how you know</span>
      </button>
      </div>
    </header>
    <div class="usa-banner-content usa-grid usa-accordion-content" id="gov-banner">
      <div class="usa-banner-guidance-gov usa-width-one-half">
        <img class="usa-banner-icon usa-media_block-img" src="/vets-design-system-documentation/img/icon-dot-gov.svg" alt="Dot gov">
        <div class="usa-media_block-body">
          <p>
            <strong>The .gov means it’s official.</strong>
            <br>
            Federal government websites often end in .gov or .mil. Before sharing sensitive information, make sure you’re on a federal government site.
          </p>
        </div>
      </div>
      <div class="usa-banner-guidance-ssl usa-width-one-half">
        <img class="usa-banner-icon usa-media_block-img" src="/vets-design-system-documentation/img/icon-https.svg" alt="Https">
        <div class="usa-media_block-body">
          <p>
            <strong>The site is secure.</strong>
            <br>
            The <strong>https://</strong> ensures that you are connecting to the official website and that any information you provide is encrypted and transmitted securely.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<header class="site-c-header" role="banner">

  <div class="site-l-wrapper">
    <div class="site-c-header__masthead">
      <div class="site-c-header__logo" id="extended-logo">
        <em class="site-c-header__logo-text">
          <a class="site-c-header__logo-link" title="VA.gov Design System homepage" href="/vets-design-system-documentation/"><strong>VA.gov</strong> | Design System</a>
        </em>
      </div>
      <div class="site-c-header__utility-links">
        <a href="/vets-design-system-documentation/documentation/whats-new.html" class="usa-button site-button-inverse">What’s new?</a>
        <a href="/vets-design-system-documentation/documentation/code-and-design.html" class="usa-button vads-u-margin--0">Get code and design files</a>
      </div>
      <button class="site-c-header__open-mobile-nav-button" id="open-mobile-nav-button" aria-label="Open navigation menu">Menu</button>
    </div>
    <nav class="site-c-header__nav">
      <ul class="site-c-header__nav-list">
        <li class="site-c-header__nav-item">
          <a class="site-c-header__nav-item__link " href="/vets-design-system-documentation/documentation">Documentation</a>
        </li>
        <li class="site-c-header__nav-item">
          <a class="site-c-header__nav-item__link " href="/vets-design-system-documentation/content-style-guide">Content</a>
        </li>
        <li class="site-c-header__nav-item">
          <a class="site-c-header__nav-item__link " href="/vets-design-system-documentation/design">Design</a>
        </li>
        <li class="site-c-header__nav-item">
          <a class="site-c-header__nav-item__link  current " href="/vets-design-system-documentation/components">Components</a>
        </li>
        <li class="site-c-header__nav-item">
          <a class="site-c-header__nav-item__link " href="/vets-design-system-documentation/utilities">Utilities</a>
        </li>
        <li class="site-c-header__nav-item">
          <a class="site-c-header__nav-item__link " href="/vets-design-system-documentation/patterns">Patterns</a>
        </li>
        <li class="site-c-header__nav-item">
          <a class="site-c-header__nav-item__link " href="/vets-design-system-documentation/layout">Layout</a>
        </li>
      </ul>
    </nav>

  </div>

</header>


    <div class="site-c-mobile-nav" id="mobile-nav">
  <button id="close_mobile_nav_button" class="site-c-mobile-nav__close-button" type="button" aria-label="Close this menu"><i class="fas fa-times"></i></button>
  <div class="usa-accordion ">
  <!-- Use the accurate heading level to maintain the document outline -->
  <p class="usa-accordion-heading site-c-mobile-nav__accordion-heading">
    <button class="usa-accordion-button site-c-mobile-nav__accordion-button"
      aria-expanded="false" aria-controls="nav-a1">Documentation</button>
  </p>
  <div id="nav-a1" class="usa-accordion-content site-c-mobile-nav__accordion-content">
    <ul class="site-c-mobile-nav-list">
      <li class="site-c-mobile-nav-list__item">
        <a class="site-c-mobile-nav-list__link " href="/vets-design-system-documentation/documentation/index.html">Overview</a>
      </li>
      
        
          
            <li class="site-c-mobile-nav-list__item">
              <a class="site-c-mobile-nav-list__link " href="/vets-design-system-documentation/documentation/code-and-design.html">Code and design files</a>
            </li>
          
        
      
        
          
            <li class="site-c-mobile-nav-list__item">
              <a class="site-c-mobile-nav-list__link " href="/vets-design-system-documentation/documentation/designers.html">For designers</a>
            </li>
          
        
      
        
          
        
      
        
          
            <li class="site-c-mobile-nav-list__item">
              <a class="site-c-mobile-nav-list__link " href="/vets-design-system-documentation/documentation/naming.html">Naming Convention</a>
            </li>
          
        
      
        
          
            <li class="site-c-mobile-nav-list__item">
              <a class="site-c-mobile-nav-list__link " href="/vets-design-system-documentation/documentation/whats-new.html">What’s New?</a>
            </li>
          
        
      
    </ul>
  </div>



  <!-- Use the accurate heading level to maintain the document outline -->
  <p class="usa-accordion-heading site-c-mobile-nav__accordion-heading">
    <button class="usa-accordion-button site-c-mobile-nav__accordion-button" aria-expanded="false" aria-controls="nav-a2">
      Content
    </button>
  </p>
  <div id="nav-a2" class="usa-accordion-content site-c-mobile-nav__accordion-content">
    <ul class="site-c-mobile-nav-list">
      <li class="site-c-mobile-nav-list__item">
        <a class="site-c-mobile-nav-list__link " href="/vets-design-system-documentation/content-style-guide/index.html">Overview</a>
      </li>
      
        
          
            <li class="site-c-mobile-nav-list__item">
              <a class="site-c-mobile-nav-list__link " href="/vets-design-system-documentation/content-style-guide/abbreviations-and-acronyms.html">Abbreviations and acronyms</a>
            </li>
          
        
      
        
          
            <li class="site-c-mobile-nav-list__item">
              <a class="site-c-mobile-nav-list__link " href="/vets-design-system-documentation/content-style-guide/buttons.html">Button labels</a>
            </li>
          
        
      
        
          
            <li class="site-c-mobile-nav-list__item">
              <a class="site-c-mobile-nav-list__link " href="/vets-design-system-documentation/content-style-guide/capitalization.html">Capitalization</a>
            </li>
          
        
      
        
          
            <li class="site-c-mobile-nav-list__item">
              <a class="site-c-mobile-nav-list__link " href="/vets-design-system-documentation/content-style-guide/content-principles.html">Content principles</a>
            </li>
          
        
      
        
          
            <li class="site-c-mobile-nav-list__item">
              <a class="site-c-mobile-nav-list__link " href="/vets-design-system-documentation/content-style-guide/contractions.html">Contractions</a>
            </li>
          
        
      
        
          
            <li class="site-c-mobile-nav-list__item">
              <a class="site-c-mobile-nav-list__link " href="/vets-design-system-documentation/content-style-guide/dates-and-numbers.html">Dates and numbers</a>
            </li>
          
        
      
        
          
            <li class="site-c-mobile-nav-list__item">
              <a class="site-c-mobile-nav-list__link " href="/vets-design-system-documentation/content-style-guide/error-messages.html">Error messages</a>
            </li>
          
        
      
        
          
        
      
        
          
            <li class="site-c-mobile-nav-list__item">
              <a class="site-c-mobile-nav-list__link " href="/vets-design-system-documentation/content-style-guide/links.html">Links</a>
            </li>
          
        
      
        
          
            <li class="site-c-mobile-nav-list__item">
              <a class="site-c-mobile-nav-list__link " href="/vets-design-system-documentation/content-style-guide/lists.html">Lists</a>
            </li>
          
        
      
        
          
            <li class="site-c-mobile-nav-list__item">
              <a class="site-c-mobile-nav-list__link " href="/vets-design-system-documentation/content-style-guide/naming.html">Naming</a>
            </li>
          
        
      
        
          
            <li class="site-c-mobile-nav-list__item">
              <a class="site-c-mobile-nav-list__link " href="/vets-design-system-documentation/content-style-guide/page-titles-and-section-titles.html">Page titles and section titles</a>
            </li>
          
        
      
        
          
            <li class="site-c-mobile-nav-list__item">
              <a class="site-c-mobile-nav-list__link " href="/vets-design-system-documentation/content-style-guide/phone-numbers-and-time-zones.html">Phone numbers and time zones</a>
            </li>
          
        
      
        
          
            <li class="site-c-mobile-nav-list__item">
              <a class="site-c-mobile-nav-list__link " href="/vets-design-system-documentation/content-style-guide/punctuation.html">Punctuation</a>
            </li>
          
        
      
        
          
            <li class="site-c-mobile-nav-list__item">
              <a class="site-c-mobile-nav-list__link " href="/vets-design-system-documentation/content-style-guide/seo.html">Writing for SEO</a>
            </li>
          
        
      
        
          
            <li class="site-c-mobile-nav-list__item">
              <a class="site-c-mobile-nav-list__link " href="/vets-design-system-documentation/content-style-guide/ui-elements.html">User interface elements</a>
            </li>
          
        
      
        
          
            <li class="site-c-mobile-nav-list__item">
              <a class="site-c-mobile-nav-list__link " href="/vets-design-system-documentation/content-style-guide/va-forms.html">VA forms</a>
            </li>
          
        
      
        
          
            <li class="site-c-mobile-nav-list__item">
              <a class="site-c-mobile-nav-list__link " href="/vets-design-system-documentation/content-style-guide/we-us-you.html">We, Us, You</a>
            </li>
          
        
      
        
          
            <li class="site-c-mobile-nav-list__item">
              <a class="site-c-mobile-nav-list__link " href="/vets-design-system-documentation/content-style-guide/web-policies-and-directives.html">Web policies and directives</a>
            </li>
          
        
      
        
          
            <li class="site-c-mobile-nav-list__item">
              <a class="site-c-mobile-nav-list__link " href="/vets-design-system-documentation/content-style-guide/word-list.html">Word list</a>
            </li>
          
        
      
    </ul>
  </div>



  <!-- Use the accurate heading level to maintain the document outline -->
  <p class="usa-accordion-heading site-c-mobile-nav__accordion-heading">
    <button class="usa-accordion-button site-c-mobile-nav__accordion-button" aria-expanded="false" aria-controls="nav-a3">
      Design
    </button>
  </p>
  <div id="nav-a3" class="usa-accordion-content site-c-mobile-nav__accordion-content">
    <ul class="site-c-mobile-nav-list">
      <li class="site-c-mobile-nav-list__item">
        <a class="site-c-mobile-nav-list__link " href="/vets-design-system-documentation/design/index.html">Overview</a>
      </li>
      
        
          
            <li class="site-c-mobile-nav-list__item">
              <a class="site-c-mobile-nav-list__link " href="/vets-design-system-documentation/design/color-palette.html">Color Palette</a>
            </li>
          
        
      
        
          
            <li class="site-c-mobile-nav-list__item">
              <a class="site-c-mobile-nav-list__link " href="/vets-design-system-documentation/design/icons.html">Icons</a>
            </li>
          
        
      
        
          
        
      
        
          
            <li class="site-c-mobile-nav-list__item">
              <a class="site-c-mobile-nav-list__link " href="/vets-design-system-documentation/design/spacing-units.html">Spacing units</a>
            </li>
          
        
      
        
          
            <li class="site-c-mobile-nav-list__item">
              <a class="site-c-mobile-nav-list__link " href="/vets-design-system-documentation/design/typography.html">Typography</a>
            </li>
          
        
      
    </ul>
  </div>


  <!-- Use the accurate heading level to maintain the document outline -->
  <p class="usa-accordion-heading site-c-mobile-nav__accordion-heading">
    <button class="usa-accordion-button site-c-mobile-nav__accordion-button" aria-expanded="true" aria-controls="nav-a4">
      Components
    </button>
  </p>
  <div id="nav-a4" class="usa-accordion-content site-c-mobile-nav__accordion-content">
    <ul class="site-c-mobile-nav-list">
      <li class="site-c-mobile-nav-list__item">
        <a class="site-c-mobile-nav-list__link " href="/vets-design-system-documentation/components/index.html">Overview</a>
      </li>
      
        
          
            <li class="site-c-mobile-nav-list__item">
              <a class="site-c-mobile-nav-list__link " href="/vets-design-system-documentation/components/accordions.html">Accordions</a>
            </li>
          
        
      
        
          
            <li class="site-c-mobile-nav-list__item">
              <a class="site-c-mobile-nav-list__link " href="/vets-design-system-documentation/components/additional-info.html">Additional Info</a>
            </li>
          
        
      
        
          
            <li class="site-c-mobile-nav-list__item">
              <a class="site-c-mobile-nav-list__link " href="/vets-design-system-documentation/components/address-block.html">Address Block</a>
            </li>
          
        
      
        
          
            <li class="site-c-mobile-nav-list__item">
              <a class="site-c-mobile-nav-list__link  current " href="/vets-design-system-documentation/components/alertboxes.html">Alert Boxes</a>
            </li>
          
        
      
        
          
            <li class="site-c-mobile-nav-list__item">
              <a class="site-c-mobile-nav-list__link " href="/vets-design-system-documentation/components/breadcrumbs.html">Breadcrumbs</a>
            </li>
          
        
      
        
          
            <li class="site-c-mobile-nav-list__item">
              <a class="site-c-mobile-nav-list__link " href="/vets-design-system-documentation/components/buttons.html">Buttons</a>
            </li>
          
        
      
        
          
            <li class="site-c-mobile-nav-list__item">
              <a class="site-c-mobile-nav-list__link " href="/vets-design-system-documentation/components/global-navigation.html">Global Navigation</a>
            </li>
          
        
      
        
          
            <li class="site-c-mobile-nav-list__item">
              <a class="site-c-mobile-nav-list__link " href="/vets-design-system-documentation/components/horizontal-rules.html">Horizontal Rules</a>
            </li>
          
        
      
        
          
        
      
        
          
            <li class="site-c-mobile-nav-list__item">
              <a class="site-c-mobile-nav-list__link " href="/vets-design-system-documentation/components/labels.html">Labels</a>
            </li>
          
        
      
        
          
            <li class="site-c-mobile-nav-list__item">
              <a class="site-c-mobile-nav-list__link " href="/vets-design-system-documentation/components/lists.html">Lists</a>
            </li>
          
        
      
        
          
            <li class="site-c-mobile-nav-list__item">
              <a class="site-c-mobile-nav-list__link " href="/vets-design-system-documentation/components/loading-indicators.html">Loading Indicators</a>
            </li>
          
        
      
        
          
            <li class="site-c-mobile-nav-list__item">
              <a class="site-c-mobile-nav-list__link " href="/vets-design-system-documentation/components/modal.html">Modal</a>
            </li>
          
        
      
        
          
            <li class="site-c-mobile-nav-list__item">
              <a class="site-c-mobile-nav-list__link " href="/vets-design-system-documentation/components/pagination.html">Pagination</a>
            </li>
          
        
      
        
          
            <li class="site-c-mobile-nav-list__item">
              <a class="site-c-mobile-nav-list__link " href="/vets-design-system-documentation/components/progress-bars.html">Progress Bars</a>
            </li>
          
        
      
        
          
            <li class="site-c-mobile-nav-list__item">
              <a class="site-c-mobile-nav-list__link " href="/vets-design-system-documentation/components/sidenav.html">Sidenav</a>
            </li>
          
        
      
        
          
            <li class="site-c-mobile-nav-list__item">
              <a class="site-c-mobile-nav-list__link " href="/vets-design-system-documentation/components/tables.html">Tables</a>
            </li>
          
        
      
    </ul>
  </div>



  <!-- Use the accurate heading level to maintain the document outline -->
  <p class="usa-accordion-heading site-c-mobile-nav__accordion-heading">
    <button class="usa-accordion-button site-c-mobile-nav__accordion-button" aria-expanded="false" aria-controls="nav-a5">
      Utilities
    </button>
  </p>
  <div id="nav-a5" class="usa-accordion-content site-c-mobile-nav__accordion-content">
    <ul class="site-c-mobile-nav-list">
      <li class="site-c-mobile-nav-list__item">
        <a class="site-c-mobile-nav-list__link " href="/vets-design-system-documentation/utilities/index.html">Overview</a>
      </li>
      
        
          
            <li class="site-c-mobile-nav-list__item">
              <a class="site-c-mobile-nav-list__link " href="/vets-design-system-documentation/utilities/background-color.html">Background color</a>
            </li>
          
        
      
        
          
            <li class="site-c-mobile-nav-list__item">
              <a class="site-c-mobile-nav-list__link " href="/vets-design-system-documentation/utilities/border.html">Border</a>
            </li>
          
        
      
        
          
            <li class="site-c-mobile-nav-list__item">
              <a class="site-c-mobile-nav-list__link " href="/vets-design-system-documentation/utilities/color.html">Color</a>
            </li>
          
        
      
        
          
            <li class="site-c-mobile-nav-list__item">
              <a class="site-c-mobile-nav-list__link " href="/vets-design-system-documentation/utilities/display.html">Display</a>
            </li>
          
        
      
        
          
            <li class="site-c-mobile-nav-list__item">
              <a class="site-c-mobile-nav-list__link " href="/vets-design-system-documentation/utilities/flexbox.html">Flexbox</a>
            </li>
          
        
      
        
          
            <li class="site-c-mobile-nav-list__item">
              <a class="site-c-mobile-nav-list__link " href="/vets-design-system-documentation/utilities/font-family.html">Font family</a>
            </li>
          
        
      
        
          
            <li class="site-c-mobile-nav-list__item">
              <a class="site-c-mobile-nav-list__link " href="/vets-design-system-documentation/utilities/font-size.html">Font size</a>
            </li>
          
        
      
        
          
            <li class="site-c-mobile-nav-list__item">
              <a class="site-c-mobile-nav-list__link " href="/vets-design-system-documentation/utilities/font-style.html">Font style</a>
            </li>
          
        
      
        
          
            <li class="site-c-mobile-nav-list__item">
              <a class="site-c-mobile-nav-list__link " href="/vets-design-system-documentation/utilities/font-weight.html">Font weight</a>
            </li>
          
        
      
        
          
            <li class="site-c-mobile-nav-list__item">
              <a class="site-c-mobile-nav-list__link " href="/vets-design-system-documentation/utilities/height-and-width.html">Height and width</a>
            </li>
          
        
      
        
      
        
      
        
      
        
      
        
      
        
          
        
      
        
          
            <li class="site-c-mobile-nav-list__item">
              <a class="site-c-mobile-nav-list__link " href="/vets-design-system-documentation/utilities/line-height.html">Line height</a>
            </li>
          
        
      
        
          
            <li class="site-c-mobile-nav-list__item">
              <a class="site-c-mobile-nav-list__link " href="/vets-design-system-documentation/utilities/margins.html">Margins</a>
            </li>
          
        
      
        
          
            <li class="site-c-mobile-nav-list__item">
              <a class="site-c-mobile-nav-list__link " href="/vets-design-system-documentation/utilities/measure.html">Measure</a>
            </li>
          
        
      
        
          
            <li class="site-c-mobile-nav-list__item">
              <a class="site-c-mobile-nav-list__link " href="/vets-design-system-documentation/utilities/padding.html">Padding</a>
            </li>
          
        
      
        
          
            <li class="site-c-mobile-nav-list__item">
              <a class="site-c-mobile-nav-list__link " href="/vets-design-system-documentation/utilities/text-align.html">Text align</a>
            </li>
          
        
      
        
          
            <li class="site-c-mobile-nav-list__item">
              <a class="site-c-mobile-nav-list__link " href="/vets-design-system-documentation/utilities/text-decoration.html">Text decoration</a>
            </li>
          
        
      
        
          
            <li class="site-c-mobile-nav-list__item">
              <a class="site-c-mobile-nav-list__link " href="/vets-design-system-documentation/utilities/visibility.html">Visibility</a>
            </li>
          
        
      
    </ul>
  </div>


  <!-- Use the accurate heading level to maintain the document outline -->
  <p class="usa-accordion-heading site-c-mobile-nav__accordion-heading">
    <button class="usa-accordion-button site-c-mobile-nav__accordion-button" aria-expanded="false" aria-controls="nav-a6">
      Patterns
    </button>
  </p>
  <div id="nav-a6" class="usa-accordion-content site-c-mobile-nav__accordion-content">
    <ul class="site-c-mobile-nav-list">
      <li class="site-c-mobile-nav-list__item">
        <a class="site-c-mobile-nav-list__link " href="/vets-design-system-documentation/patterns/index.html">Overview</a>
      </li>
      
        
          
            <li class="site-c-mobile-nav-list__item">
              <a class="site-c-mobile-nav-list__link " href="/vets-design-system-documentation/patterns/color-usage.html">Color usage</a>
            </li>
          
        
      
        
          
            <li class="site-c-mobile-nav-list__item">
              <a class="site-c-mobile-nav-list__link " href="/vets-design-system-documentation/patterns/content-presentation.html">Content presentation</a>
            </li>
          
        
      
        
          
            <li class="site-c-mobile-nav-list__item">
              <a class="site-c-mobile-nav-list__link " href="/vets-design-system-documentation/patterns/form-feedback.html">Form feedback</a>
            </li>
          
        
      
        
          
            <li class="site-c-mobile-nav-list__item">
              <a class="site-c-mobile-nav-list__link " href="/vets-design-system-documentation/patterns/form-templates.html">Form templates</a>
            </li>
          
        
      
        
          
        
      
        
          
            <li class="site-c-mobile-nav-list__item">
              <a class="site-c-mobile-nav-list__link " href="/vets-design-system-documentation/patterns/navigation.html">Navigation</a>
            </li>
          
        
      
    </ul>
  </div>


  <!-- Use the accurate heading level to maintain the document outline -->
  <p class="usa-accordion-heading site-c-mobile-nav__accordion-heading">
    <button class="usa-accordion-button site-c-mobile-nav__accordion-button" aria-expanded="false" aria-controls="nav-a7">
      Layout
    </button>
  </p>
  <div id="nav-a7" class="usa-accordion-content site-c-mobile-nav__accordion-content">
    <ul class="site-c-mobile-nav-list">
      <li class="site-c-mobile-nav-list__item">
        <a class="site-c-mobile-nav-list__link " href="/vets-design-system-documentation/layout/index.html">Overview</a>
      </li>
      
        
          
            <li class="site-c-mobile-nav-list__item">
              <a class="site-c-mobile-nav-list__link " href="/vets-design-system-documentation/layout/flexbox-grid.html">Flexbox Grid</a>
            </li>
          
        
      
        
          
            <li class="site-c-mobile-nav-list__item">
              <a class="site-c-mobile-nav-list__link " href="/vets-design-system-documentation/layout/grid.html">Float Grid</a>
            </li>
          
        
      
        
      
        
          
        
      
    </ul>
  </div>

</div>
</div>

    <div class="site-c-content">
      
      <div class="site-c-content__nav">
        
          <ul class="site-c-sidenav-list">
  <li class="site-c-sidenav-list__item ">
    <a class="site-c-sidenav-list__link " href="index.html">Overview</a>
    
  </li>
  
    
      
        <li class="site-c-sidenav-list__item ">
          <a class="site-c-sidenav-list__link " href="/vets-design-system-documentation/components/accordions.html">Accordions</a>
          
        </li>
      
    
  
    
      
        <li class="site-c-sidenav-list__item ">
          <a class="site-c-sidenav-list__link " href="/vets-design-system-documentation/components/additional-info.html">Additional Info</a>
          
        </li>
      
    
  
    
      
        <li class="site-c-sidenav-list__item ">
          <a class="site-c-sidenav-list__link " href="/vets-design-system-documentation/components/address-block.html">Address Block</a>
          
        </li>
      
    
  
    
      
        <li class="site-c-sidenav-list__item  current ">
          <a class="site-c-sidenav-list__link " href="/vets-design-system-documentation/components/alertboxes.html">Alert Boxes</a>
          
        </li>
      
    
  
    
      
        <li class="site-c-sidenav-list__item ">
          <a class="site-c-sidenav-list__link " href="/vets-design-system-documentation/components/breadcrumbs.html">Breadcrumbs</a>
          
        </li>
      
    
  
    
      
        <li class="site-c-sidenav-list__item ">
          <a class="site-c-sidenav-list__link " href="/vets-design-system-documentation/components/buttons.html">Buttons</a>
          
        </li>
      
    
  
    
      
        <li class="site-c-sidenav-list__item ">
          <a class="site-c-sidenav-list__link " href="/vets-design-system-documentation/components/global-navigation.html">Global Navigation</a>
          
        </li>
      
    
  
    
      
        <li class="site-c-sidenav-list__item ">
          <a class="site-c-sidenav-list__link " href="/vets-design-system-documentation/components/horizontal-rules.html">Horizontal Rules</a>
          
        </li>
      
    
  
    
      
    
  
    
      
        <li class="site-c-sidenav-list__item ">
          <a class="site-c-sidenav-list__link " href="/vets-design-system-documentation/components/labels.html">Labels</a>
          
        </li>
      
    
  
    
      
        <li class="site-c-sidenav-list__item ">
          <a class="site-c-sidenav-list__link " href="/vets-design-system-documentation/components/lists.html">Lists</a>
          
        </li>
      
    
  
    
      
        <li class="site-c-sidenav-list__item ">
          <a class="site-c-sidenav-list__link " href="/vets-design-system-documentation/components/loading-indicators.html">Loading Indicators</a>
          
        </li>
      
    
  
    
      
        <li class="site-c-sidenav-list__item ">
          <a class="site-c-sidenav-list__link " href="/vets-design-system-documentation/components/modal.html">Modal</a>
          
        </li>
      
    
  
    
      
        <li class="site-c-sidenav-list__item ">
          <a class="site-c-sidenav-list__link " href="/vets-design-system-documentation/components/pagination.html">Pagination</a>
          
        </li>
      
    
  
    
      
        <li class="site-c-sidenav-list__item ">
          <a class="site-c-sidenav-list__link " href="/vets-design-system-documentation/components/progress-bars.html">Progress Bars</a>
          
        </li>
      
    
  
    
      
        <li class="site-c-sidenav-list__item ">
          <a class="site-c-sidenav-list__link " href="/vets-design-system-documentation/components/sidenav.html">Sidenav</a>
          
        </li>
      
    
  
    
      
        <li class="site-c-sidenav-list__item ">
          <a class="site-c-sidenav-list__link " href="/vets-design-system-documentation/components/tables.html">Tables</a>
          
        </li>
      
    
  
</ul>
        
      </div>
      <div class="site-c-content__content">
        <main id="main-content" class="site-l-content-wrapper--styleguide">
          <h1 id="alert-boxes">Alert Boxes</h1>

<p class="va-introtext">Alerts keep users informed of important and sometimes time-sensitive changes.</p>

<div class="site-c-showcase">
<div class="usa-alert usa-alert-success">
  <div class="usa-alert-body">
    <h3 class="usa-alert-heading">Success status</h3>
    <p>Lorem ipsum dolor sit amet, <a href="javascript:void(0);">consectetur adipiscing</a> elit, sed do eiusmod.</p>
  </div>
</div>

<div class="usa-alert usa-alert-warning">
  <div class="usa-alert-body">
    <h3 class="usa-alert-heading">Warning status</h3>
    <p>Lorem ipsum dolor sit amet, <a href="javascript:void(0);">consectetur adipiscing</a> elit, sed do eiusmod.</p>
  </div>
</div>

<div class="usa-alert usa-alert-warning">
  <div class="usa-alert-body">
    <h3 class="usa-alert-heading">Expanding alert box<br /><a id="crisis-expander-link">VA may be able to help</a>.</h3>
    <div id="crisis-expander-content" class="expander-content expander-content-closed">
      <div class="expander-content-inner usa-alert-text">
        <p>We offer many programs and services to support you. Find the support you need:</p>
        <ul>
          <li>Contact your local VA medical center for help getting connected with services you may qualify for in your community. <a href="/facilities/">Find the nearest VA medical center</a>.</li>
          <li>Call the National Call Center for Homeless Veterans at 1-877-4AID-VET (<a href="tel:+18774243838">1-877-424-3838</a>) for help 24 hours a day, 7 days a week.</li>
          <li><a href="https://www.veteranscrisisline.net/ChatTermsOfService.aspx?account=Homeless%20Veterans%20Chat">Chat online with a trained VA staff member</a>.</li>
        </ul>
        <p>We can also connect you with other non-VA resources in your community.</p>
        <p><b>If you’re a female Veteran,</b> you can contact your local VA medical center and ask for the Women Veterans Program Manager for help getting housing, health care, and other benefits. <a href="/facilities/">Contact your closest VA medical center</a>.</p>
      </div>
    </div>
  </div>
</div>

<div class="usa-alert usa-alert-error" role="alert">
  <div class="usa-alert-body">
    <h3 class="usa-alert-heading">Error status</h3>
    <p>Lorem ipsum dolor sit amet, <a href="javascript:void(0);">consectetur adipiscing</a> elit, sed do eiusmod.</p>
  </div>
</div>

<div class="usa-alert usa-alert-info">
  <div class="usa-alert-body">
    <h3 class="usa-alert-heading">Information status</h3>
    <p>Lorem ipsum dolor sit amet, <a href="javascript:void(0);">consectetur adipiscing</a> elit, sed do eiusmod.</p>
  </div>
</div>

<div class="usa-alert usa-alert-continue">
  <div class="usa-alert-body">
    <h3 class="usa-alert-heading">Continue status</h3>
    <p>Lorem ipsum dolor sit amet, <a href="javascript:void(0);">consectetur adipiscing</a> elit, sed do eiusmod.</p>
  </div>
</div>

<div class="usa-alert usa-alert-info usa-alert-paragraph">
  <div class="usa-alert-body">
    <h3 class="usa-alert-heading">Information status - Paragraph Width</h3>
    <p>Multi line. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui atione
        voluptatem sequi nesciunt. Neque porro quisquam est, qui doloremipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
  </div>
</div>

<div class="usa-alert usa-alert-info background-color-only">
  <div class="usa-alert-body">
    <h3 class="usa-alert-heading">Information status - Background Color Only</h3>
    <p>Lorem ipsum dolor sit amet, <a href="javascript:void(0);">consectetur adipiscing</a> elit, sed do eiusmod.</p>
  </div>
</div>

<script type="text/javascript">
    // Toggle the expandable crisis info
    document.getElementById('crisis-expander-link')
        .addEventListener('click', function() {
            document.getElementById('crisis-expander-content').classList.toggle('expander-content-closed');
        });
</script>


</div>

<div class="usa-accordion-bordered">
<div>
<button class="usa-accordion-button" aria-controls="htmlalertboxhtml"><span class="fas fa-code"></span> View code snippet</button>
<div id="htmlalertboxhtml" class="usa-accordion-content">
      <div class="language-html highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"usa-alert usa-alert-success"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"usa-alert-body"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;h3</span> <span class="na">class=</span><span class="s">"usa-alert-heading"</span><span class="nt">&gt;</span>Success status<span class="nt">&lt;/h3&gt;</span>
    <span class="nt">&lt;p&gt;</span>Lorem ipsum dolor sit amet, <span class="nt">&lt;a</span> <span class="na">href=</span><span class="s">"javascript:void(0);"</span><span class="nt">&gt;</span>consectetur adipiscing<span class="nt">&lt;/a&gt;</span> elit, sed do eiusmod.<span class="nt">&lt;/p&gt;</span>
  <span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span>

<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"usa-alert usa-alert-warning"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"usa-alert-body"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;h3</span> <span class="na">class=</span><span class="s">"usa-alert-heading"</span><span class="nt">&gt;</span>Warning status<span class="nt">&lt;/h3&gt;</span>
    <span class="nt">&lt;p&gt;</span>Lorem ipsum dolor sit amet, <span class="nt">&lt;a</span> <span class="na">href=</span><span class="s">"javascript:void(0);"</span><span class="nt">&gt;</span>consectetur adipiscing<span class="nt">&lt;/a&gt;</span> elit, sed do eiusmod.<span class="nt">&lt;/p&gt;</span>
  <span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span>

<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"usa-alert usa-alert-warning"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"usa-alert-body"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;h3</span> <span class="na">class=</span><span class="s">"usa-alert-heading"</span><span class="nt">&gt;</span>Expanding alert box<span class="nt">&lt;br&gt;&lt;a</span> <span class="na">id=</span><span class="s">"crisis-expander-link"</span><span class="nt">&gt;</span>VA may be able to help<span class="nt">&lt;/a&gt;</span>.<span class="nt">&lt;/h3&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">id=</span><span class="s">"crisis-expander-content"</span> <span class="na">class=</span><span class="s">"expander-content expander-content-closed"</span><span class="nt">&gt;</span>
      <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"expander-content-inner usa-alert-text"</span><span class="nt">&gt;</span>
        <span class="nt">&lt;p&gt;</span>We offer many programs and services to support you. Find the support you need:<span class="nt">&lt;/p&gt;</span>
        <span class="nt">&lt;ul&gt;</span>
          <span class="nt">&lt;li&gt;</span>Contact your local VA medical center for help getting connected with services you may qualify for in your community. <span class="nt">&lt;a</span> <span class="na">href=</span><span class="s">"/facilities/"</span><span class="nt">&gt;</span>Find the nearest VA medical center<span class="nt">&lt;/a&gt;</span>.<span class="nt">&lt;/li&gt;</span>
          <span class="nt">&lt;li&gt;</span>Call the National Call Center for Homeless Veterans at 1-877-4AID-VET (<span class="nt">&lt;a</span> <span class="na">href=</span><span class="s">"tel:+18774243838"</span><span class="nt">&gt;</span>1-877-424-3838<span class="nt">&lt;/a&gt;</span>) for help 24 hours a day, 7 days a week.<span class="nt">&lt;/li&gt;</span>
          <span class="nt">&lt;li&gt;&lt;a</span> <span class="na">href=</span><span class="s">"https://www.veteranscrisisline.net/ChatTermsOfService.aspx?account=Homeless%20Veterans%20Chat"</span><span class="nt">&gt;</span>Chat online with a trained VA staff member<span class="nt">&lt;/a&gt;</span>.<span class="nt">&lt;/li&gt;</span>
        <span class="nt">&lt;/ul&gt;</span>
        <span class="nt">&lt;p&gt;</span>We can also connect you with other non-VA resources in your community.<span class="nt">&lt;/p&gt;</span>
        <span class="nt">&lt;p&gt;&lt;b&gt;</span>If you’re a female Veteran,<span class="nt">&lt;/b&gt;</span> you can contact your local VA medical center and ask for the Women Veterans Program Manager for help getting housing, health care, and other benefits. <span class="nt">&lt;a</span> <span class="na">href=</span><span class="s">"/facilities/"</span><span class="nt">&gt;</span>Contact your closest VA medical center<span class="nt">&lt;/a&gt;</span>.<span class="nt">&lt;/p&gt;</span>
      <span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span>

<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"usa-alert usa-alert-error"</span> <span class="na">role=</span><span class="s">"alert"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"usa-alert-body"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;h3</span> <span class="na">class=</span><span class="s">"usa-alert-heading"</span><span class="nt">&gt;</span>Error status<span class="nt">&lt;/h3&gt;</span>
    <span class="nt">&lt;p&gt;</span>Lorem ipsum dolor sit amet, <span class="nt">&lt;a</span> <span class="na">href=</span><span class="s">"javascript:void(0);"</span><span class="nt">&gt;</span>consectetur adipiscing<span class="nt">&lt;/a&gt;</span> elit, sed do eiusmod.<span class="nt">&lt;/p&gt;</span>
  <span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span>

<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"usa-alert usa-alert-info"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"usa-alert-body"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;h3</span> <span class="na">class=</span><span class="s">"usa-alert-heading"</span><span class="nt">&gt;</span>Information status<span class="nt">&lt;/h3&gt;</span>
    <span class="nt">&lt;p&gt;</span>Lorem ipsum dolor sit amet, <span class="nt">&lt;a</span> <span class="na">href=</span><span class="s">"javascript:void(0);"</span><span class="nt">&gt;</span>consectetur adipiscing<span class="nt">&lt;/a&gt;</span> elit, sed do eiusmod.<span class="nt">&lt;/p&gt;</span>
  <span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span>

<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"usa-alert usa-alert-continue"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"usa-alert-body"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;h3</span> <span class="na">class=</span><span class="s">"usa-alert-heading"</span><span class="nt">&gt;</span>Continue status<span class="nt">&lt;/h3&gt;</span>
    <span class="nt">&lt;p&gt;</span>Lorem ipsum dolor sit amet, <span class="nt">&lt;a</span> <span class="na">href=</span><span class="s">"javascript:void(0);"</span><span class="nt">&gt;</span>consectetur adipiscing<span class="nt">&lt;/a&gt;</span> elit, sed do eiusmod.<span class="nt">&lt;/p&gt;</span>
  <span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span>

<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"usa-alert usa-alert-info usa-alert-paragraph"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"usa-alert-body"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;h3</span> <span class="na">class=</span><span class="s">"usa-alert-heading"</span><span class="nt">&gt;</span>Information status - Paragraph Width<span class="nt">&lt;/h3&gt;</span>
    <span class="nt">&lt;p&gt;</span>Multi line. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui atione
        voluptatem sequi nesciunt. Neque porro quisquam est, qui doloremipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.<span class="nt">&lt;/p&gt;</span>
  <span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span>

<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"usa-alert usa-alert-info background-color-only"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"usa-alert-body"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;h3</span> <span class="na">class=</span><span class="s">"usa-alert-heading"</span><span class="nt">&gt;</span>Information status - Background Color Only<span class="nt">&lt;/h3&gt;</span>
    <span class="nt">&lt;p&gt;</span>Lorem ipsum dolor sit amet, <span class="nt">&lt;a</span> <span class="na">href=</span><span class="s">"javascript:void(0);"</span><span class="nt">&gt;</span>consectetur adipiscing<span class="nt">&lt;/a&gt;</span> elit, sed do eiusmod.<span class="nt">&lt;/p&gt;</span>
  <span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span>

<span class="nt">&lt;script </span><span class="na">type=</span><span class="s">"text/javascript"</span><span class="nt">&gt;</span>
    <span class="c1">// Toggle the expandable crisis info</span>
    <span class="nb">document</span><span class="p">.</span><span class="nx">getElementById</span><span class="p">(</span><span class="s1">'crisis-expander-link'</span><span class="p">)</span>
        <span class="p">.</span><span class="nx">addEventListener</span><span class="p">(</span><span class="s1">'click'</span><span class="p">,</span> <span class="kd">function</span><span class="p">()</span> <span class="p">{</span>
            <span class="nb">document</span><span class="p">.</span><span class="nx">getElementById</span><span class="p">(</span><span class="s1">'crisis-expander-content'</span><span class="p">).</span><span class="nx">classList</span><span class="p">.</span><span class="nx">toggle</span><span class="p">(</span><span class="s1">'expander-content-closed'</span><span class="p">);</span>
        <span class="p">});</span>
<span class="nt">&lt;/script&gt;</span>


</code></pre></div>      </div>
    </div>
</div>
</div>

<h2 id="accessibility">Accessibility</h2>

<p>Use the ARIA <code class="highlighter-rouge">role="alert"</code> to inform assistive technologies of a time-sensitive and important message that is not interactive. If the message is interactive, use the <code class="highlighter-rouge">alertdialog</code> role instead.
Do not visually hide alert messages on the page and then make them visible when they are needed. Users of older assistive technologies may still be able to perceive the alert messages even if they are not currently applicable.</p>

<h2 id="usability">Usability</h2>

<h3 id="when-to-use">When to use</h3>

<p>As a notification that keeps people informed of the status of the system and which may or may not require the user to respond. This includes errors, warnings, and general updates.
As a validation message that alerts someone that they just did something that needs to be corrected or as confirmation that a task was completed successfully.</p>

<h3 id="when-to-consider-something-else">When to consider something else</h3>

<ul>
  <li>On long forms, always include in-line validation in addition to any error messages that appear at the top of the form.</li>
  <li>If an action will result in destroying a user’s work (for example, deleting an application) use a more intrusive pattern, such as a confirmation modal dialogue, to allow the user to confirm that this is what they want.</li>
</ul>

<h3 id="guidance">Guidance</h3>

<p>When the user is required to do something in response to an alert, let them know what they need to do and make that task as easy as possible. Think about how much context to provide with your message. For example, a notification of a system change may require more contextual information than a validation message. Write the message in concise, human readable language; avoid jargon and computer code.</p>
<ul>
  <li>Be polite in error messages — don’t place blame on the user.</li>
  <li>Users generally won’t read documentation but will read a message that helps them resolve an error; include some educational material in your error message.</li>
  <li>But don’t overdo it — too many notifications will either overwhelm or annoy the user and are likely to be ignored.</li>
  <li>Allow a user to dismiss a notification wherever appropriate.</li>
  <li>Don’t include notifications that aren’t related to the user’s current goal.</li>
</ul>


        </main>
      </div>
      

    </div>

    <footer class="footer vads-u-padding-y--5" role="contentinfo">
  <div class="footer-inner">
    <div class="row vads-u-margin-top--0" id="va-footer-supplementallinks">
      <div>
        <ul class="va-footer-linkgroup--inline" id="footer-supplemental">
          <li><a href="/vets-design-system-documentation/documentation/whats-new.html">What’s New?</a></li>
          <li><a href="http://va.gov/playbook/">Vets.gov Playbook</a></li>
          <li><a target="_blank" href="https://www.section508.va.gov/">Accessibility</a></li>
          <li><a href="http://va.gov/privacy/">Privacy</a></li>

        </ul>
      </div>
    <div>
      <div class="footer-seal">
        <abbr title="Department of Veterans Affairs">VA</abbr> | U.S. Department of Veterans Affairs
      </div>
    </div>
  </div>

  </div>

</footer>




    <script type="text/javascript" src="/vets-design-system-documentation/vendor/javascripts/bundle.js" charset="utf-8"></script>
    <script src="/vets-design-system-documentation/assets/javascripts/site.js"></script>
  </body>

</html>
